.WelBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: var(--boxbcg);
}
.WelHead {
  letter-spacing: 3px;
  font-size: 54px;
}
.WelFont {
  font-size: 22px;
  line-height: 1.5;
}

.HomeContentBox {
  background-color: var(--bgc);
  width: 100%;
  height: 100%;
  position: absolute;
}
